<!DOCTYPE html>
<html lang="pt" xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{admin/fragments/layout}">
<head>
<title>Cadastro de Calendários</title>
</head>
<body>

	<section layout:fragment="corpo" class="layout-content">
		<div class="page-header">
			<nav class="navbar navbar-expand-md navbar-top bg-light">
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav" style="padding-top: 15px">
						<li class="nav-item active"><i class="oi oi-caret-right"></i>
							<span>Cadastrar Calendários</span></li>
					</ul>
				</div>
				<!-- <a class="btn btn-success btn-md" href="/admin/calendarios/listar"
					role="button"> <span class="oi oi-spreadsheet" title="Cadastro"
					aria-hidden="true"></span> <span>Listar Calendários</span>
				</a> -->
			</nav>
		</div>

		<form action="/admin/salvarPdf" enctype="multipart/form-data"
			method="POST">
			<div class="container" id="cadastro">

				<h1>Upload do Arquivo PDF</h1>
				<a>Nome do arquivo precisa ser "Calendario" e a extensão PDF</a>

				<div class="form-group col-md-12">
					<input style="padding-top: 10px" type="file" name="file" />
				</div>

				<input type="hidden" id="id" value="" />
				<button type="submit" class="btn btn-success btn-sm">Upload</button>

			</div>
		</form>
	</section>

</body>
</html>
