<!DOCTYPE html>
<html lang="pt" xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{admin/fragments/layout}">
<head>
<title>Cadastro de Estados</title>
</head>
<body>

	<section layout:fragment="corpo" class="layout-content">
		<div class="page-header">
			<nav class="navbar navbar-expand-md navbar-top bg-light">
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav" style="padding-top: 15px">
						<li class="nav-item active"><i class="oi oi-caret-right"></i>
							<span>Cadastrar Estado</span></li>
					</ul>

					<a class="btn btn-success btn-md" href="/admin/estados/listar"
						role="button"> <span class="oi oi-spreadsheet"
						title="Cadastro" aria-hidden="true"></span> <span>Listar
							Estados</span>
					</a>
				</div>
			</nav>
		</div>

		<div class="container" id="cadastro">
			<form action="/admin/estados/salvar" th:object="${estado}"
				method="POST">
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="nome">Nome do Estado</label> <input type="text"
							class="form-control" id="nome" placeholder="Nome do Estado"
							autofocus="autofocus" th:field="*{nome}" value="" />
						<div class="invalid-feedback"></div>
					</div>
					<div class="form-group col-md-6">
						<label for="salario">Sigla</label> <input type="text"
							class="form-control" id="sigla" placeholder="Sigla"
							data-mask-reverse="true" th:field="*{sigla}" value="" />
						<div class="invalid-feedback"></div>
					</div>
				</div>

				<input type="hidden" id="id" th:field="*{id}" value="" />
				<button type="submit" class="btn btn-success btn-sm">Salvar</button>
			</form>
		</div>
	</section>

</body>
</html>
