<!DOCTYPE html>
<html lang=pt xmlns:layout=http://www.w3.org/1999/xhtml layout:decorate=~{admin/fragments/layout}>
<head>
<title>Cadastro de Usuário</title>
</head>
<body>
<section layout:fragment=corpo class=layout-content>
<div class=page-header>
<nav class="navbar navbar-expand-md navbar-top bg-light">
<div class="collapse navbar-collapse" id=navbarsExampleDefault>
<ul class=navbar-nav style=padding-top:15px>
<li class="nav-item active"><i class="oi oi-caret-right"></i>
<span style=padding-top:10px>Cadastrar Usuário</span></li>
</ul>
<div class=container style=text-align:right>
<a class="btn btn-success btn-md" href=/admin/funcionarios/listar role=button> <span class="oi oi-spreadsheet" title=Cadastro aria-hidden=true></span>
<span>Listar Usuário</span>
</a>
</div>
</div>
</nav>
</div>
<div class=container id=cadastro>
<form action=/admin/funcionarios/salvar th:object=${funcionario} method=POST>
<div class=form-row>
<div class="form-group col-md-12">
<label for=nome>Nome do Usuário</label> <input type=text class=form-control id=nome placeholder="Nome Completo" autofocus=autofocus th:field=*{nome} value />
<div class=invalid-feedback></div>
</div>
</div>
<div class=form-row>
<div class="form-group col-md-6">
<label for=email>Email</label> <input type=text class=form-control id=email name=email value />
<div class=invalid-feedback></div>
</div>
<div class="form-group col-md-6">
<label for=senha>Senha</label> <input type=password class=form-control id=senha name=senha value required />
<div class=invalid-feedback></div>
</div>
</div>
<input type=hidden id=id th:field=*{id} value />
<button type=submit class="btn btn-success btn-sm">Salvar</button>
</form>
</div>
</section>
</body>
</html>