<!DOCTYPE html>
<html lang=pt xmlns:layout=http://www.w3.org/1999/xhtml layout:decorate=~{admin/fragments/layout}>
<head>
<title>Cadastro de Entrada de Produtos</title>
</head>
<body>
<section layout:fragment=corpo class=layout-content>
<div class=page-header>
<nav class="navbar navbar-expand-md navbar-top bg-light">
<div class="collapse navbar-collapse" id=navbarsExampleDefault>
<ul class=navbar-nav style=padding-top:15px>
<li class="nav-item active"><i class="oi oi-caret-right"></i>
<span>Entrada de Produtos</span></li>
</ul>
<div class=container style=text-align:right>
<a class="btn btn-success btn-md" href=/admin/entrada/listar role=button> <span class="oi oi-spreadsheet" title=Cadastro aria-hidden=true></span> <span>Listar
Entrada de Produtos</span>
</a>
</div>
</div>
</nav>
</div>
<div class=container id=cadastro>
<form action=/admin/entrada/salvar th:object=${entrada} method=POST>
<div class=form-row>
<div class="form-group col-md-6">
<label>Funcionários</label> <select th:field=*{funcionario} class=form-control>
<option th:each=fun:${listaFuncioarios} th:value=${fun.id} th:text=${fun.nome}></option>
</select>
</div>
<div class="form-group col-md-6">
<label for=nome>Observação</label> <input type=text class=form-control id=observacao placeholder=Observação autofocus=autofocus th:field=*{observacao} value />
<div class=invalid-feedback></div>
</div>
</div>
<div class=form-row>
<div class="form-group col-md-12">
<label for=nome>Fornecedor</label> <input type=text class=form-control id=fornecedor placeholder=Fornecedor autofocus=autofocus th:field=*{fornecedor} value />
<div class=invalid-feedback></div>
</div>
</div>
<hr></hr>
<div class=form-row th:object=${entradaItens}>
<div class="form-group col-md-5">
<label>Produto</label> <select th:field=*{produto} class=form-control>
<option th:each=lisP:${listaProdutos} th:value=${lisP.id} th:text=${lisP.descricao}></option>
</select>
</div>
<div class="form-group col-md-2">
<label for=quantidade>Quantidade</label> <input type=number class=form-control id=quantidade placeholder=Quantidade autofocus=autofocus th:field=*{quantidade} value />
<div class=invalid-feedback></div>
</div>
<div class="form-group col-md-2">
<label for=valor>Valor Custo</label> <input type=number class=form-control id=valorProduto placeholder="Valor Custo" autofocus=autofocus th:field=*{valorProduto} value />
<div class=invalid-feedback></div>
</div>
<div class="form-group col-md-2">
<label for=valor>Valor Venda</label> <input type=number class=form-control id=valorVenda placeholder="Valor Venda" autofocus=autofocus th:field=*{valorVenda} value />
<div class=invalid-feedback></div>
</div>
<div class="form-group col-md-1">
<br />
<button id=add name=acao style=margin-top:8px;margin-left:8px th:value=itens type=submit class="btn btn-success">ADD</button>
</div>
</div>
<div class=form-row>
<div class="form-group col-md-12">
<div class=table-responsive>
<table class="table table-striped table-hover table-sm">
<thead>
<tr>
<th>Descrição</th>
<th>Quantidade</th>
<th>Valor de venda</th>
<th>Valor de Curso</th>
<th>Ação</th>
</tr>
</thead>
<tbody>
<tr th:each="itens : ${listaEntradaItens}">
<td th:text=${itens.produto.descricao}></td>
<td th:text=${itens.quantidade}></td>
<td th:text=${itens.valorProduto}></td>
<td th:text=${itens.valorVenda}></td>
<td colspan=2></a> <a class="btn btn-danger btn-sm" data-toggle=modal data-target=#modal-warning th:attr="data-target='#modal-warning'+${itens}"><span class="oi oi-circle-x" title=Remover aria-hidden=true></span></a>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<input type=hidden id=id th:field=*{id} value />
<button type=submit class="btn btn-success btn-lg btn-block" name=acao th:value=salvar>Salvar</button>
</form>
</div>
</section>
</body>
</html>